i{
    color: #d84e08;
}

a{
    color: rgb(102, 101, 101);
    padding: .3em; 
    margin-right: 1em;
}

a:hover{
    text-decoration: none;
    color:#d84e08;
    border-radius: 5px;
    background: #454F5B;
}

.active{
    text-decoration: none;
    color:#d84e08;
    border-radius: 5px;
    background: #454F5B;
}

.admin-tabs{
    padding-bottom: 3rem;
}

.admin-tabs-group{
    border-radius: 10px;
}

@media(max-width:400px){
    .margin-top-sm{
        margin-top: 1rem;
    }
}