<h3 class="text-center text-muted py-4">Categories Table</h3>

<table class="table table-sm table-sm-font-size text-center bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Number of Products</th>
        </tr>
    </thead>

    <tbody *ngIf="categories.length">
        <tr *ngFor="let category of categories">
            <td>{{category.id}}</td>

            <td>
                <a class="text-color" [routerLink]="['/detail', category.id]" >{{category.name}}</a>
            </td> 
            <td>{{category.description}}</td>
            <td>{{category.numberOfProducts}}</td>  
            <td class="actions">
                <!-- <a [routerLink]="['/detail', category.id]"class="mat-elevation-z4 mt-1 btn btn-sm btn-outline-dark mr-1">Detail</a> -->
                <a [routerLink]="['categories', category.id, 'edit']"   class="mat-elevation-z4 mt-1 btn btn-sm btn-success mr-1">Edit</a>
                <a [routerLink]="['categories', category.id, 'delete']" class="mat-elevation-z4 mt-1 btn btn-sm btn-danger">Delete</a>
                 
            </td>
        </tr>        
    </tbody>
    <tr *ngIf="!categories.length">
        <td colspan="10" class="text-center py-4 text-color">
            <h3>No Categories Available</h3>
        </td>
    </tr>
</table>